.skills {
  background-color: $primary-red;
  position: relative;
  height: 100vh;
}

.skills__textes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  padding-left: 65px;
  padding-top: 105px;
  width: 90vw;
}

.skills__text--do {
  color: $primary-dark-grey;
  font-weight: bold;
}

.skills__text--inte,
.skills__text--proto {
  color: $secondary-white;
  font-weight: bold;
  font-size: 20px;
}

.skills__text--design,
.skills__text--shopify {
  color: $primary-dark-grey;
  font-weight: bold;
  font-size: 20px;
}

.skills__lign--horizontal {
  position: absolute;
  top: 0;
  left: 0;
}

.skills__cercles {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
