//COLORS
$primary-red: #d11e1e;
$primary-dark-grey: #292525;
$secondary-white: #fbfbfb;
$secondary-light-grey: #dbd6d6;
$tertiary-black: #130101;

//TITRES - Desktop
$SuperH: 6.66vw;
$h1: 4.02vw;
$h2: 3.33vw;
$h3: 2.63vw;
$h4: 1.66vw;
$body: 1.25vw;

//TITRES - Mobile
